body
{
	font-family: "arial";
	font-size: 1rem;
	margin: 0;
	padding: 0;
	background: #e0e0e0;
}

a
{
	text-decoration: none;
	color: black;
}

textarea
{
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	height: 100%;
	width: 98.1%;
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
	font-size: 1.3rem;
	line-height: 1.5rem;
}

textarea, #labels
{
	background-image: url("img/textbg.png");
	image-rendering: pixelated;
	background-size: 100% 3rem;
}

#header
{
	/* min-height: 13vh; */
	/* border-top: 1px solid #60802f; */
	/* background: #61812e; */
	/* border-bottom: 2px solid #60802f; */
	border-bottom: 1px solid rgb(212, 212, 212);
	display: flex;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}

#kiwi-logo img {
	max-height: 10vh;
	margin: auto;
	width: auto;
}

#headercontent
{
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 3rem;
}

#header img
{
	/*max-height: 5vh;*/
	height: 120%;
	margin: auto;
	margin-right: 30px;
	opacity: 0.9;
}

#headertext
{
	color: black;
	font-size: 3rem;
	margin: auto;
}

#maincontainer
{
	background: #eee;
	border-bottom: 2px solid #ddd;
	font-family: "inconsolata", "arial";
}

#boxcontainer
{
	max-width: 750px;
	margin: auto;
	padding-bottom: 25vh;
}

#day-header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
	/* flex-wrap: wrap; */
	color: #444;
	text-align: center;
	vertical-align: middle;
	/*margin: 5vh;*/
	/* padding: 2vh 10px; */
	padding: 4vh 10px 2vh 10px;
	font-size: 2.5rem;
}


#day-label {
	color: 	#888;
	text-align: right;
}

#totalcal
{
	color: #186fd3;
	font-weight: bold;
	text-align: left;
}


#labelheader {
	margin-left: 10px;
	min-height: 3vh;
	width: 5.1rem;
	text-align: right;
	font-size: 1.3rem;
	/* color: #61812e; */
	color: #186fd3;
}

#labeltext
{
	margin: auto;
	display: grid;
	/* background: #61812e; */
	background: #7895b9;
	grid-template-columns: 100px 1fr;
	margin: 0px 10px;
	min-height: 24rem; /* 1.5rem * 16 lines */
	box-shadow: 0px 20px 60px 30px rgb(231, 231, 231);

	font-size: 1.3rem;
	line-height: 1.5rem;
}

#labels
{
	display: flex;
	flex-direction: column;
	text-align: right;
	/* color: #61812e; */
	color: #186fd3;
	margin: 2px;
	margin-right: 1px;
	padding: 0 1rem;
}

.calories
{
	font-size: 1.5rem;
	height: 2rem;
}

#textcontainer
{
	margin: 2px;
	margin-left: 1px;
}

#textarea {
	resize: none;
}

#prev-next {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 1rem auto;
	max-width: 450px;
}

#prev-next * {
	font-size: 1.2rem;
	min-width: 6rem;
	text-align: center;
}

.navbutton {
	font-size: 1.2rem;
	cursor: pointer;
	color: #186fd3;
}

.navbutton:hover {
	cursor: pointer;
	/* text-decoration: underline; */
	color: #1c7be7;
}

.navbutton:active {
	cursor: pointer;
	color: #0a325f;
}

#prev-next #current-day {
	color: #333;
	/* font-size: 1.5rem; */
}

#calendar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2vh;
}

#calendar {
	display: grid;
	background: #7895b9;
	grid-template-columns: repeat(7,1fr);
	grid-gap: 2px;
	padding: 2px;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	width: auto;
	margin: 0 1.5rem;
	cursor: pointer;
}

#calendar .day {
	font-size: 1.5rem;
	width: 2.5rem;
	height: 2rem;
	background: #eee;
	cursor: pointer;
	line-height: 1.8rem;
	/* border: 1px solid gray; */
	/* box-sizing: border-box; */
	text-align: center;
	color: rgb(139, 139, 139);
	/* vertical-align: middle; */
}

#calendar .day:active {
	opacity: 0.7;
}

#calendar .datecode {
	color: black;
	background: #a7c3e6;
}

#calendar .current {
	color: black;
	font-weight: bold;
	/* background: #4994eb; */
	background: #f1c228;
}

#controls
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#controls input
{
	margin: 15px;
	font-size: 1rem;
}

#notescontainer
{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	justify-content: center;
	padding-right: 10px;
	/*max-width: 860px;*/
	margin: auto;
}

#notes
{
	margin: 10px;
	color: #777;
	padding: 10px;
	max-width: 600px;
	/*background: #e0e0e0;*/
	/*border: 2px solid #ccc;*/
}

#notes #tips-heading {
	text-align: center;
	font-weight: bold;
}

#notes ul li, #notes p
{
	margin: 1rem auto;
	line-height: 1.6rem;
}

#notes .example
{
	display: inline;
	padding: 3px 5px;
	background: #ccc;
	color: black;
	/*border-radius: 2px;*/
	border: 1px solid #aaa;
}
